1.What are the two values of the Boolean data type? How do you write them?

A. The 2 boolean values are True , False and this is how we write them True , False

In [25]:
#examples using bool type
on=True
off=False
print("on=",type(on))
print("off=",type(off))

on= <class 'bool'>
off= <class 'bool'>

2. What are the three different types of Boolean operators?

A. 3 boolean operators are : and, or, not

In [26]:
#example
num1=500
num2=700
print("(500<700) and (700>500)",(500<700) and (700>500)) #and operator: "both" sides should be true else returns false

print("(500<700) or (700>500)",(500<700) or (700<500))#or operator : any one value either left or right can be true to get the output true

print("not num1<num2", not num1<num2)# not operator :performs the negation operation

(500<700) and (700>500) True
(500<700) or (700>500) True
not num1<num2 False

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate ).

A. truth tables 


**Truth Table for `and` operaotor**  
    _True and True is True   
    True and False is False  
    False and True is False  
    False and False is False_
    
    
**Truth Table for `or` operaotor**  
    _True and True is True   
    True and False is True  
    False and True is True  
    False and False is False_
    
    
**Truth Table for `not` operaotor**        
    _True not is False
    False not is True_

4. What are the values of the following expressions?

A. manual analysis results

(5 > 4) and (3 == 5) 
#output False
not (5 > 4) 
#output False
(5 > 4) or (3 == 5) 
#output True 
not ((5 > 4) or (3 == 5))
#output False
(True and True) and (True == False)
#output False
(not False) or (not True)
#output True

In [32]:
#system results
print("(5 > 4) and (3 == 5) ",(5 > 4) and (3 == 5) )
#output False
print ("(not (5 > 4)",(not (5 > 4) ))
# output False
print("(5 > 4) or (3 == 5)",(5 > 4) or (3 == 5) )
#output True 
print("not ((5 > 4) or (3 == 5))",not ((5 > 4) or (3 == 5)))
#output False
print("(True and True) and (True == False)",(True and True) and (True == False))
#output False
print("(not False) or (not True)",(not False) or (not True))
#output True

(5 > 4) and (3 == 5)  False
(not (5 > 4) False
(5 > 4) or (3 == 5) True
not ((5 > 4) or (3 == 5)) False
(True and True) and (True == False) False
(not False) or (not True) True

5. What are the six comparison operators?

A.
<(less than)
>(greater than)
<=(lesser and equals)
>=(greater and equals)
==(comparission equals operator)
!=(not equals)

In [35]:
#example 
print("2<4",2<4)
print("49<=50",50<=50)
print("50>=50",50>=50)
print("23==23",23==23)
print("23!=24",23!=24)

2<4 True
49<=50 True
50>=50 True
23==23 True
23!=24 True

6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

A. assignement operator is denoted with single =
equal for comparision uses double ==

In [39]:
#example
num=10 #here this statement ment for assinement where 10 gets stored in num variable dosent return any value 


num==10 # here this is a comparactive operator which returns either true or false

True

7. Identify the three blocks in this code:
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')

In [44]:
#A.
spam = 0 
if spam == 10:
    print('eggs') # 1st block end
if spam > 5:
    print('bacon') # 2nd block end
else:
    print('ham') #3rd block
print('spam') 
print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [50]:
# A.

def spam_fun(spam):
    if(spam==1):
        print("Hello")
    elif(spam==2):
        print("Howdy")
    else:
        print("Greetings!")

In [51]:
spam_fun(1)
spam_fun(2)
spam_fun("jksw")

Hello
Howdy
Greetings!

9.If your programme is stuck in an endless loop, what keys youâ€™ll press

A. Ctrl + c in the command line execution

if this happens in a jupyter notebook press the stop key above selecting 
the particular cell

10. How can you tell the difference between break and continue?

A. break stops the execution of a loop


where as  continue skips that particular iteration and contineous to execute the loop

In [55]:
#example of break

for i in range(0,10):
    if(i==5):
        break
    print(i)

0
1
2
3
4

In [56]:
#example of continue

for i in range(0,10):
    if(i==5):
        continue
    print(i)

0
1
2
3
4
6
7
8
9

as we can see the above codes example break statement broke the execution of the loop
where as a continue statem just skipped that particular condition and executed remaining loop

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

here range(10) means end=(10-1) default start=0 so if we use range(10) in a for loop it loops the statements the "end" number of times starting from zero as we didnt mention start

In [57]:
# example
for i in range(10): #here end=10-1,start=0
    print(i)

0
1
2
3
4
5
6
7
8
9

here range(0,10) means end=(10-1) we are 
inputting start paramenter start=0 so if we use range(0,10) in a for loop it loops 
the statements the "end" number of times starting from "start" parameter value

In [61]:
for j in range(0,10):
    print(j)

0
1
2
3
4
5
6
7
8
9

here range(0,10,1) means end=(10-1) we are 
inputting start paramenter start=0 and step parameter 1 so if we use range(0,10,1) in a for loop it loops 
the statements the "end" number of times starting from "start" parameter value and steps with 1 every time

In [66]:
#example
for k in range(0,10,1):
    print(k)

0
1
2
3
4
5
6
7
8
9

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [71]:
# A.
print("------ for loop ---")
for i in range(1,10+1):
    print(i)
print("---while loop----")
i=1
while(i<=10):
        print(i)
        i+=1

------ for loop ---
1
2
3
4
5
6
7
8
9
10
---while loop----
1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

A. spam.bacon()